flows (1).json
[
    {
        "id": "4ea304dda710fe64",
        "type": "tab",
        "label": "projet 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87e6759143ad9087",
        "type": "debug",
        "z": "4ea304dda710fe64",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1600,
        "wires": []
    },
    {
        "id": "e9ee0c02a29ec237",
        "type": "ui_gauge",
        "z": "4ea304dda710fe64",
        "name": "temperature",
        "group": "29570374923997d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature ",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "7ab7811342b763c1",
        "type": "ui_gauge",
        "z": "4ea304dda710fe64",
        "name": "courant",
        "group": "a5a6e90b22640d4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#f0f019",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 280,
        "y": 200,
        "wires": []
    },
    {
        "id": "f063c268a1549f75",
        "type": "ui_gauge",
        "z": "4ea304dda710fe64",
        "name": "tension",
        "group": "c948722189188d57",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#7e2525"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 280,
        "y": 240,
        "wires": []
    },
    {
        "id": "12dc15e0e40c08b5",
        "type": "ui_gauge",
        "z": "4ea304dda710fe64",
        "name": "luminosité",
        "group": "2b6f9f4300b61c0e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#23231f",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "0b910154a109fa4c",
        "type": "ui_chart",
        "z": "4ea304dda710fe64",
        "name": "temperature chart",
        "group": "29570374923997d9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "courbe ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6ff05551f90e5375",
        "type": "ui_chart",
        "z": "4ea304dda710fe64",
        "name": "tension chart",
        "group": "c948722189188d57",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "courbe",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 290,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "71afbc2f3986e377",
        "type": "ui_chart",
        "z": "4ea304dda710fe64",
        "name": "courant chart",
        "group": "a5a6e90b22640d4e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "courbe",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 290,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d671d3b3a2a18fa0",
        "type": "ui_chart",
        "z": "4ea304dda710fe64",
        "name": "luminosité chart",
        "group": "2b6f9f4300b61c0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "courbe",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 300,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8e157bcb52d2c0db",
        "type": "ui_switch",
        "z": "4ea304dda710fe64",
        "name": "on/off",
        "label": "on/off",
        "tooltip": "",
        "group": "1bb9204b7d0dbc6f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "f7c49d5479bc0a96"
            ]
        ]
    },
    {
        "id": "f7c49d5479bc0a96",
        "type": "mqtt out",
        "z": "4ea304dda710fe64",
        "name": "ON/OFF",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "37cfd5c21804e094",
        "type": "color",
        "z": "4ea304dda710fe64",
        "property": "color",
        "color": "#30ff00",
        "val": "0000",
        "white": false,
        "name": "",
        "x": 510,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a9ba2b2048d571fd",
        "type": "ui_template",
        "z": "4ea304dda710fe64",
        "group": "29570374923997d9",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n.background {\n    background-image: url('/iman.jpg');\n    /* Other CSS styles for positioning, sizing, etc. */\n}\n</style>\n\n<div class=\"background\">\n    <!-- Other dashboard elements go here -->\n</div>\n<style>\n    .background {\n        background-image: url('/iman.jpg');\n        /* Other CSS styles for positioning, sizing, etc. */\n    }\n</style>\n\n<div class=\"background\">\n    <!-- Other dashboard elements go here -->\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 620,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ec6a0510f60d0ffd",
        "type": "ui_spacer",
        "z": "4ea304dda710fe64",
        "name": "spacer",
        "group": "2797f92b6528ce3a",
        "order": 1,
        "width": "1",
        "height": "1"
    },
    {
        "id": "52735fb932b85f67",
        "type": "ui_spacer",
        "z": "4ea304dda710fe64",
        "name": "spacer",
        "group": "29570374923997d9",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "29570374923997d9",
        "type": "ui_group",
        "name": ".",
        "tab": "402ec80f20c5071c",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5a6e90b22640d4e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b229d08821bf8dc6",
        "order": 1,
        "disp": true,
        "width": 7
    },
    {
        "id": "c948722189188d57",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7d4e1b101b24dc18",
        "order": 1,
        "disp": true,
        "width": 7
    },
    {
        "id": "2b6f9f4300b61c0e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "8c28dad2a5971add",
        "order": 1,
        "disp": true,
        "width": 7
    },
    {
        "id": "1bb9204b7d0dbc6f",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "eb39d77d491358a9",
        "order": 1,
        "disp": true,
        "width": 8
    },
    {
        "id": "2797f92b6528ce3a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "402ec80f20c5071c",
        "type": "ui_tab",
        "name": "temperature",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b229d08821bf8dc6",
        "type": "ui_tab",
        "name": "courant",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d4e1b101b24dc18",
        "type": "ui_tab",
        "name": "tension",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c28dad2a5971add",
        "type": "ui_tab",
        "name": "luminosité",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb39d77d491358a9",
        "type": "ui_tab",
        "name": "controle a distance",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]